.form {
  width: 371px;
  height: 40px;
  display: flex;
  /* flex-direction: column; */
  border-radius: 8px;
  gap: 8px;
  padding: 36px 0;
  margin: 0 auto;
  background-color: #ffffff;
}

.label {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.btn {
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fafafa;
  border: none;
}

#load-btn {
  margin: 0 auto;
  text-align: center;
  display: none;
  width: 125px;
  height: 40px;
  padding: 8px, 16px;
  margin-bottom: 25px;
  text-align: center;
  border: none;
}

#load-btn.is-active {
  display: block;
}

.input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}
.loader-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4;
  /* align-items: center; */
  text-align: center;
}
